@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    Welcome to home
</div>

@(await Html.RenderComponentAsync<WeatherWalkingSkeleton.Components.Counter>(RenderMode.ServerPrerendered))